@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ProductSans';
  src: url('../assets/ProductSans/ProductSansRegular.ttf');
  /* src: url('../assets/ProductSans/ProductSansItalic.ttf');
  src: url('../assets/ProductSans/ProductSansBold.ttf'); */
  font-weight: 400;
  font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ProductSans', Arial, Helvetica, sans-serif;
    background-color: #f5f9ff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

